
@import './helper/variable.scss';

body {
  color: $body-color;
  font-family: sans-serif;
}

[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: rgba(0, 0, 0, 0.3);
}

[placeholder]:empty:focus::before {
  content: "";
}

*:focus {
  outline: none;
}
